{% extends 'baseGraphs.html' %}

{% block content %}
<div class="row">
    <div class="btn-group">
      <div class="col-lg-6 col-md-">
      <a id="list-devices" href=devices class="btn btn-primary"> <span class="small material-icons">face</span> List Devices</aaaaaaaaaaaaaaaaa>
      <a id="grid-devices" href=vmd_timestamp class="btn btn-primary">Charts of Devices</a>
      </div>
    </div>
    </div>
    <div class="row">
    <input name="dates" class="datepicker" />
    <canvas id="chart-canvas"></canvas>
  </div>
{% endblock %}

{% block scripts_graphs %}

<script type="text/javascript">
    //Get a devices array json variable from Python thanks to ninja1
    var data_python = '{{devices|tojson}}';

    //Address or endpoint of the test backend (obtaining sensor data)
    var url_data = '{{url_data}}';
    console.log(url_data)
    //Indicate tojson, so it's return a json string, then parste de Json Object
    data_python = JSON.parse(data_python);

  </script>
  <script type="text/javascript" src="{{ url_for('graphs.static',filename='vmd_timestamp.js') }}"></script>

{% endblock %}