<div class="container">
    <div class="well well-sm">
        <strong>Change View</strong>
        <div class="btn-group">
            <button id="list-button" type="button" class="btn btn-primary">List</button>
            <button id="grid-button" type="button" class="btn btn-primary">Grid</button>
          </div>
    </div>
    <section class="item">
        <div id="products" class="row ">
            <div class="col-lg-6 col-md-9" data-aos="fade-up">
                <div class="item-box" style="min-width:500px;">
                    <h4><a href="">Real Time HTTP GET</a></h4>
                    <div style="width:100%;">
                        <canvas id="mycanvas"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-9" data-aos="fade-up">
                <div class="item-box" style="min-width:500px;">
                    <h4><a href="">Real Time HTTP GET (same host service1)</a></h4>
                    <div style="width:100%;">
                        <canvas id="mycanvas2"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-9" data-aos="fade-up">
                <div class="item-box" style="min-width:500px;">
                    <div style="width:100%;">
                        <canvas id="mycanvas3"></canvas>
                    </div>
                </div>
            </div>

        </div>

</section>
<script type="text/javascript" src="{{ url_for('graphs.static',filename='grid.js') }}""></script>
</div>

<script>
    //https://codepen.io/kingchun1991/pen/NGEQJp
    $(document).ready(function () {

        function getRandomIntInclusive(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        $('#list-button').click(function(event){event.preventDefault(); $('#products').addClass('list-group');});

        $('#grid-button').click(function(event){event.preventDefault(); ;$('#products').removeClass('list-group');$('#products .item').addClass('grid-group-item');});
       

        // create initial empty chart
        var ctx_live = document.getElementById("mycanvas");
        var myChart = new Chart(ctx_live, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    data: [],
                    borderWidth: 1,
                    borderColor: '#00c0ef',
                    label: 'liveCount',
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: "Chart.js - Dynamically Update Chart Via Ajax Requests",
                },
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }]
                }
            }
        });

        // this post id drives the example data
        var postId = 1;

        // logic to get new data
        var getData = function () {
            $.ajax({
                url: 'https://jsonplaceholder.typicode.com/posts/' + postId + '/comments',
                success: function (data) {
                    // process your data to pull out what you plan to use to update the chart
                    // e.g. new label and a new data point

                    // add new label and data point to chart's underlying data structures
                    myChart.data.labels.push("Post " + postId++);
                    myChart.data.datasets[0].data.push(getRandomIntInclusive(1, 25));

                    // re-render the chart
                    myChart.update();
                }
            });
        };

        // get new data every 3 seconds
        setInterval(getData, 3000);

        // create initial empty chart
        var ctx_live2 = document.getElementById("mycanvas2");


    
   
    
    var myChart2 = new Chart(ctx_live2, {
            type: 'line',
            data:  {
                labels: [],
                datasets: [{
                    data: [],
                    borderWidth: 1,
                    borderColor: '#00c0ef',
                    label: 'Temperature',
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: "Chart.js - Dynamically Update Chart Via Ajax Requests",
                },
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [
                    {
                        type: "time",
                        time: {
                        unit: 'second',
                        displayFormats: {
                            minute: "HH:MM:ss",
                            second: "HH:MM:ss",
                            //minute: 'HH:mm', 
                        },
                        tooltipFormat: 'DD/MM/YYYY HH:MM:ss' //tooltipFormat: "MMM D"
                        },
                        scaleLabel: {
                        display: true,
                        labelString: 'Timestamp'
                        }
                    },
                    
                    ],
                    yAxes: [
                    {
                        ticks: {
                        beginAtZero: true
                        }
                    }
                    ]
                }
            }
        });

  

    //Here a example, the service server backend is in the same host of server Flask
    if (!window.location.origin) {
        window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
    }
    console.log(window.location.protocol )

    let url_service=window.location.protocol + "//" + window.location.hostname+":8088";
    console.log(url_service)
    let getData2 = function () {
            $.ajax({
                url: url_service + '/updateDevices',
                success: function (data) {
                    // process your data to pull out what you plan to use to update the chart
                    // e.g. new label and a new data point
                    // add new label and data point to chart's underlying data structures
                    date = new Date(data.items[2].values.timestamp*1000);
                   
                    myChart2.data.labels.push(date);
                    myChart2.data.datasets[0].data.push(data.items[2].values.temperature);

                    // re-render the chart
                    myChart2.update();
                }
            });
        };

        setInterval(getData2, 3000);

});
</script>