<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ site_title }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <script src="{{ url_for('static',filename='jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static',filename='Chart.bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='moment.min.js') }}"></script>
  <script src="{{ url_for('static',filename='daterangepicker.min.js') }}"></script>

  <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static',filename='daterangepicker.css') }}">
  </link>
  <link href="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/grid.css') }}" rel="stylesheet">


  <style type="text/css">
    tr.detail {
      display: none;
      width: 100%;
    }

    tr.detail div {
      display: none;
    }

    .showmore:hover {
      cursor: pointer;
    }

    input.datepicker {
      padding: 6px;
      font-size: 14px;
      width: 50%;
      border-radius: 4px;
      box-shadow: none;
      border: 1px solid rgb(206, 212, 218);
      margin-bottom: 15px;
    }
  </style>


</head>

<body>
  <div class="container">
    {% block content %} {% endblock %}
  </div>

  {% block contentGrid %}
    {% include 'grid.html' %}
  {% endblock %}

  <!--<div class="grid-template"></div>-->

  <script>
    //Here is an example of how to load an html
    /*$(document).ready(function () {
      $('#grid-template').load("{{ url_for('static',filename='html/grid.html') }}", function() {
        
      });

    });*/
  </script>

{% block scripts_graphs %} {% endblock %}
</body>



</html>