<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ site_title }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static',filename='materialize.min.css') }}" type="text/css" rel="stylesheet"
    media="screen,projection" />

  <style type="text/css">
    tr.detail {
      display: none;
      width: 100%;
    }

    tr.detail div {
      display: none;
    }

    .showmore:hover {
      cursor: pointer;
    }
  </style>
  <script src="{{ url_for('static',filename='jquery-3.6.0.min.js') }}"></script>
  <!-- Compiled and minified CSS
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">  -->
  <!-- Compiled and minified JavaScript 
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s2"><a class="waves-effect waves-light btn">
          List Devices
        </a></div>
      <div class="col s3"><a class="waves-effect waves-light btn" href=vmd_timestamp>
          Charts of Devices
        </a>
      </div>
    </div>

    {% block content %}
    <table class="highlight" class="table">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>isActive</th>
          <th>DATE</th>
        </tr>
      </thead>


      <tbody class="striped responsive-table">
        {% for item in devices %}

        <tr>
          <th scope='row'>1</th>
          <td>{{item._id}}</td>
          <td>{{item.isActive}}</td>
          <td>{{item.globaltimestamp}}</td>
          <td><a class="showmore">Show More</a></td>
        </tr>

        <tr class="detail">
          <td colspan="3">
            <div>
              <p>List of values</p>
            </div>
          </td>
        </tr>


        {% endfor %}
      </tbody>
    </table>
    {% endblock %}

  </div>
  <script type="text/javascript" src="{{ url_for('static',filename='materialize.min.js') }}"></script>
</body>

<script type="text/javascript">
  //Get a devices array json variable from Python thanks to ninja1
  data_python = '{{devices|tojson}}';
  //Indicate tojson, so it's return a json string, then parste de Json Object
  console.log(JSON.parse(data_python))
  document.addEventListener('DOMContentLoaded', function () {
    //var elems = document.querySelectorAll('.collapsible');
    //https://materializecss.com/collapsible.html
    //var instances = M.Collapsible.init(elems, {});
  });
</script>

<script>
  $(function () {
    $('a.showmore').click(function (e) {
      e.preventDefault();
      // We break and store the result so we can use it to hide
      // the row after the slideToggle is closed
      var targetrow = $(this).closest('tr').next('.detail');
      targetrow.show().find('div').slideToggle('slow', function () {
        if (!$(this).is(':visible')) {
          targetrow.hide();
        }
      });
    });
  });
</script>

</html>