.item {
    padding-bottom: 30px;
    text-align: center;
    padding: 50px 0px;
}

.item-box.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item-box.list-group-item:nth-of-type(odd):hover,.item-box.list-group-item:hover
{
    background: #428bca;
}

.item-box.list-group-item:before, .item-box.list-group-item:after
{
    display: table;
    content: " ";
}
.item-box.list-group-item:after
{
    clear: both;
}

.item .section-title h2 {
    color: #444;
    font-size: 42px;
}
.item .section-title p {
    text-align: center;
    font-style: italic;
    margin-bottom: 40px;
    color: #666;
}
.item .item-box {
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0 5px #bdbdbd;
    float: left;
    position: relative;
    z-index: 1;
    max-width:500px;
    overflow: hidden;
}
.item .item-box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    left: 0px;
    top: -500px;
    z-index: -1;
    transition: 1s;
}
.item .item-box:hover::after {
    top: 0px;
}
.item i {
    display: flex;
    justify-content: center;
}
.item i {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 100%;
    transition: 0.5s;
    color: #28a745;
    font-size: 35px;
    overflow: hidden;
    padding-top: 18px;
    box-shadow: 0px 0 5px #bdbdbd;
    margin: 10px auto 15px;
}
.item h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
}
.item h4 a {
    color: #444;
    text-decoration: none;
}
.item h4 a:hover {
    color: #28a745;
}
.item p {
    line-height: 24px;
    font-size: 14px;
}

.glyphicon { margin-right:5px; }
      .thumbnail
      {
        margin-bottom: 20px;
        padding: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
      }

      .item-box.list-group-item
      {
        float: none;
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;
      }
      .item-box.list-group-item:nth-of-type(odd):hover,.item-box.list-group-item:hover
      {
        background: #428bca;
      }

      .item-box.list-group-item .list-group-image
      {
        margin-right: 10px;
      }
      .item-box.list-group-item .thumbnail
      {
        margin-bottom: 0px;
      }
      .item-box.list-group-item .caption
      {
        padding: 9px 9px 0px 9px;
      }
      .item-box.list-group-item:nth-of-type(odd)
      {
        background: #eeeeee;
      }

      .item-box.list-group-item:before, .item-box.list-group-item:after
      {  display: table;
        content: " ";
      }

      .item-box.list-group-item img
      {
        float: left;
      }
      .item-box.list-group-item:after
      {
        clear: both;
      }
      .list-group-item-text
      {
        margin: 0 0 11px;
      }


      @media (min-width: 992px) {
        .item-box  {
          min-width: 200px
        }
        .item-box {
          min-height: 300px
        }
      }

  